#login {
    border: 5px outset red;
    width: 200px;
    margin: 0 auto;  
    text-align:center;
}

#register{
    border: 5px outset red;
    width: 200px;
    margin: 0 auto;  
    text-align:center;
}

p {
    font-size: 16px;
    font-family: Arial, serif;
}

#chat{
    position: relative;
    border: 5px outset red;
    margin: 0 auto;  
    width: 500px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
     
    
}
#chat h1 {
    /* margin-top: 5; */
    text-align: center;
}

#message {
    margin-top: 20px; 

}
#eingabe {
    flex-grow: 1;

    position: absolute; 
    margin-bottom: 0 auto;
    width: 492px;
    text-align: center;
    height: 30px;
    bottom: 0;
}
#btn-back{
    position: absolute; 
    margin-bottom: 0 auto;
    
    
    height: 30px;
    bottom: 0;
}
#send-btn{
    position: absolute; 
    margin-bottom: 0 auto;
    
    
    height: 30px;
    bottom: 5;
}
#send{
        position: relative;
        

        top: 0;
        background-color: white;
        max-width: 1200px;
        width: 80%;
        text-align: center;
        
}